.occu-margin {
  margin: -0px 8px 0px 8px;
}

mat-card {
  width: 300px;
  padding: 20px;
  margin-left: 600px;
}

.occupied-width {
  width: -webkit-fill-available;
}

.mat-slider {
  margin-top: -12px;
}
.toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
