//css class used to generate margin in the card
.occu-margin {
  margin: 0px 8px 0px 8px;
}
//css class used for card heading
.card-heading{
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  background-color: ghostwhite;
  border-radius: 20px 20px 0px 0px;
}

.spacing{
  margin-top:10px;
}


.body {
  font-family: Montserrat-Regular;
  font-size: 10px;
  color: #999999;
  line-height: 19px;
}
.card {
  //width: 300px;
  padding:10px 20px 20px 20px;
  //margin-left: 600px;
}
//css class used for mat card
.mat-card{
  padding: 0px 0px 0px 0px;
}

.occupied-width {
  width: -webkit-fill-available;
}
//css class used for mat slider
.mat-slider {
  margin-top: -12px;
}
//css class for toggler
.toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
