<p>
  <mat-toolbar>
    <button mat-button> <img class="jpg-icon" src="./assets/logo.png" style="width: 50px;height:50px;"
        alt="Logo"></button>

    <span class="example-spacer"></span>
    <button mat-button>Products</button>
    <button mat-button>Solution</button>
    <button mat-button>Pricing</button>
    <button mat-stroked-button style="margin: 20px;border-radius: 24px;color: red;border: 2px solid #663399;color:#663399;">Login</button>
    <button mat-flat-button style="border-radius: 24px;background-image: linear-gradient(90deg, #9F62C9 0%, #663399 100%);color: #FFFFFF;">Get Started</button>
   
  </mat-toolbar>
</p>





<app-card [image2]="'../assets/Get Paid Instantly.png'" style=" top: 1137px;
left: 191px;position: relative;" [color]="'Normal'">
  <p class="header" header>Quick cash disbursement</p>
  <p class="body" body>Get terms loans that your business needs within 72 hrs</p>
</app-card>
<app-card [image2]="'../assets/Low_interest_rate.png'" style=" top: 1450px;
left: 191px;position: relative;" [color]="'Normal'">
  <p class="header" header>Low-interest rate</p>
  <p class="body" body>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
</app-card>
<app-card [image2]="'../assets/Secure_Payments.png'" style=" top: 1786px;
left: 191px;position: relative;" [color]="'Normal'">
  <p class="header" header>Zero Paperwork</p>
  <p class="body" body>Get started instantly by submitting only your basic details & bank statements</p>
</app-card>
<app-card [image2]="'../assets/Covid.png'" style=" top: 2186px;
left: 191px;position: relative;" [color]="'Normal'">
  <p class="header" header>Loans to fight COVID-19</p>
  <p class="body" body>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
</app-card>
<app-card [image2]="'../assets/freelancer_feature_icon.png'" [color]="'Unique'" style=" top: 2486px;
left: 191px;position: relative;">
  <p class="header-unique" header>Ace your business finances</p>
  <p class="body-unique" body>Manage banking, accounting & everything in between, on one platform</p>
</app-card>
