.header {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  color: #333333;
  line-height: 19px;
}

.body {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 19px;
}

.header-unique {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 19px;
}

.body-unique {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 19px;
}

.example-spacer {
  flex: 1 1 auto;
}


