//css class used to change the color of the text inside the cards when hover event is not performed
.header {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  color: #333333;
  line-height: 19px;
}
//css class used to change the color of the text inside the cards when hover event is not performed
.body {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 19px;
}
//css class used to change the color of the text inside the cards when hoverd on the parent(app-card)
.parent:hover .header {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 19px;
}




//css class used to change the color of the text inside the cards when hoverd on the parent(app-card)
.parent:hover .body {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 19px;
}

//css class used to provide spacing in the navbar
/*
.example-spacer {
  flex: 1 1 auto;
}
*/
//css class used for scrolling navbar effect
/*
.scrolled {
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1;
}
*/
//css class used for the navbar when it is not scrolled
/*
.scroll-Init {
  background-color: transparent;
}
*/
//css class used for the small image
#small-img {
  top: 120px;
  left: -120px;
  position: absolute;
 
  opacity: 1;
 

}
//css class used for the circle image provided
#circle {
  position: absolute;
  top: -120px;
  left: 700px;
  opacity: 1;
  z-index: -1;
 
}
//css class used for bold line under the text
.line {
  top: 260px;
  left: 100px;
  width: 236px;
  height: 8px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  position: absolute;
}

.collect-img {
  position: absolute;
  width: 494px;
  top: 326px;
  left: 78px;
}
//css class used for dots image
.dots {
  position: absolute;
  top: 570px;
  left: 323px;
  width: 340px;
}
//css class used for dots image which is placed under eligibiltiy caluclator
.dots-A {
  position: absolute;
  top: 628px;
  left: 1050px;
  width: 340px;
  z-index: -1;
}
//css class for the wave image
.wave {
  position: absolute;
  top: 850px;
  //width: 1135px;
  left: 0px;
  width: -webkit-fill-available;
}

//css class to use regular font
.regular-font{
  font-family: Montserrat-Regular;
}
//css class to use medium font
.medium-font{
  font-family: Montserrat-Medium;
}


//css class used for Get An account button
.AccountButton {
  top: 1270px;
  left: 880px;
  border-radius: 24px;
  border: 2px solid #663399;
  color: #663399;
  position: absolute;
}

.line-B {
  top: 1150px;
  left: 880px;
  width: 236px;
  height: 8px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  position: absolute;
}
